.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 80%;
    margin: auto;
}
.__row_2{
  margin-top: 25px;
}
.footer{
  margin: 0;
  padding: 0;
  height:75px;
  width:100%;
  background-color: gray;
  opacity: 0.6;
}
.__menu_footer a{
  position: relative;
  top:30px;
  text-decoration: none;
  color: #000000;
  margin-left: 35px

}
.target{
  padding-bottom: 12px;
}
/***/
.visiter{
  color:red;
}
/*body{
  //background-color: black;
}*/

.thumbnail > img {
  height: 300px;
}
.carousel-inner > .item > img{
  height: 540px;
} 
