

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../ressource/js/jquery.js"></script>
<script src="../ressource/js/bootstrap.js"></script>
<script src="../ressource/js/app.js"></script>
</body>
